<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>ecommerce_les2023</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>ecommerce_les2023.controle.view.Controller</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CadastrarCliente</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ConsultarCliente</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ExcluirCliente</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/AlterarCliente</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/AlterarClienteParcial</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/InativarCliente</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CadastrarEndereco</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/AlterarEndereco</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ExcluirEndereco</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CadastrarEnderecoCheckout</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/EntrarCliente</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/SairCliente</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CadastrarCartao</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CadastrarCartaoCheckout</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/AlterarCartao</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ExcluirCartao</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ConsultarProduto</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CadastrarCarrinho</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CadastrarItemCarrinho</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ExcluirItemCarrinho</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CheckoutCarrinho</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/FinalizarCompra</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/LimparCarrinho</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ConsultarPedido</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/AlterarSituacaoPedido</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/SolicitarTroca</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/AlterarSituacaoPedidoTroca</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ConsultarVendasGrafico</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/AlterarQuantidadeItemCarrinho</url-pattern>
  </servlet-mapping>
  
</web-app>