<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>ecommerce_les2023</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>ecommerce_les2023.controle.view.Controller</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controle</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CadastrarCurso</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/AlterarCurso</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ConsultarCurso</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ExcluirCurso</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CadastrarAluno</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ConsultarAluno</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ExcluirAluno</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/AlterarAluno</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ConsultarCursosAlunos</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/CadastrarProfessor</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ConsultarProfessor</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ExcluirProfessor</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/AlterarProfessor</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/ConsultarCursosProfessores</url-pattern>
  </servlet-mapping>
  
</web-app>